<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-braintree-3ds"
        version="3.0.0">

    <name>Braintree Plugin</name>

    <description>
        A Cordova plugin for the Braintree mobile payment processing SDK.
    </description>

    <license>MIT</license>

    <!-- JavaScript Interface -->
    <js-module src="www/braintree-plugin.js" name="BraintreePlugin">
        <clobbers target="BraintreePlugin" />
    </js-module>

    <!-- Android Configuration -->
    <!-- <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BraintreePlugin">
                <param name="android-package" value="net.justincredible.BraintreePlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/BraintreePlugin.java" target-dir="src/net/justincredible" />

        <framework src="com.android.support:support-v13:27.+" />
        <framework src="com.android.support:appcompat-v7:27.+" />
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

        <config-file target="AndroidManifest.xml" parent="application">
            <activity android:name="com.braintreepayments.api.threedsecure.ThreeDSecureWebViewActivity" />
            <activity android:name="com.braintreepayments.api.BraintreePaymentActivity" />
			<activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity" android:launchMode="singleTask">
				<intent-filter>
					<action android:name="android.intent.action.VIEW" />
					<category android:name="android.intent.category.DEFAULT" />
					<category android:name="android.intent.category.BROWSABLE" />
					<data android:scheme="${applicationId}.braintree" />
				</intent-filter>
			</activity>
        </config-file>

    </platform> -->

    <!-- iOS Configuration -->
    <platform name="ios">

        <preference name="IOS_BRAINTREE_POD_VERSION" default="~> 5.5.0" />

        <config-file target="config.xml" parent="/*">
            <feature name="BraintreePlugin">
                <param name="ios-package" value="BraintreePlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/BraintreePlugin.h" />
        <source-file src="src/ios/BraintreePlugin.m" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/" />
            </config>
            <pods>
                <pod name="Braintree" spec="$IOS_BRAINTREE_POD_VERSION" />
                <pod name="Braintree/DataCollector" spec="$IOS_BRAINTREE_POD_VERSION" />
                <pod name="Braintree/ThreeDSecure" spec="$IOS_BRAINTREE_POD_VERSION" />
                <pod name="Braintree/ApplePay" spec="$IOS_BRAINTREE_POD_VERSION" />
            </pods>
        </podspec>

    </platform>

</plugin>
